{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'stylelogin.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    
    
</head>
<body>
    <a href="/">
        <button style="float:right; width:100px; margin-right:10px; background-color:#008CBA; color:white;">Home</button>
    </a>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method='POST'>
        {% csrf_token %}
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" name="username" id="username">

        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        
        <button type='submit'>Log In</button>
        {% for message in messages %}
        <p style='color:red'>{{ message }}</p>
        {% endfor %}
        <p class="signup-link">Don't have an account?</p>
        <a href="signup">Register</a>
        
        
    </form>
</body>
</html>
