{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'stylelogin.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    
    
</head>
<body>
    
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method='POST' style="margin-top:50px;">
        {% csrf_token %}
        <h3>Signup</h3>

        <label for="username">Username</label>
        {{ form.username }}

        <label for="email">Email</label>
        {{ form.email }}

        <label for="password">Password</label>
        {{ form.password1 }}
        
        <label for="password">Password Confirmation</label>
        {{ form.password2 }}

        <div class="role-container">
            <label for="role">Role:</label>
            <div class="role-select">
              <input type="radio" name="role" id="role_editor" value="editor">
              <label for="role_editor">Editor</label>
              <input type="radio" name="role" id="role_creator" value="creator">
              <label for="role_creator">Creator</label>
            </div>
          </div>
          <br></br>
        <div >
            {% if form.password2.errors %}
                    <div>
                        <p class="alert alert-danger">{{ form.password2.errors }}</p>
                    </div>
            {% endif %}
        
            {% if form.password1.errors %}
                    <div>
                        <p class="alert alert-danger">{{ form.password1.errors }}</p>
                    </div>
            {% endif %}
        
            {% if form.username.errors %}
                    <div>
                        <p class="alert alert-danger">Invalid Username/Username Already Exists.</p>
                    </div>  
            {% endif %}
        
            {% for message in messages %}
            <p class="alert alert-danger">{{message}}</p>
            {% endfor %}
        </div>
        
        <button type="submit">Sign Up</button>

        <p class="signup-link">Already have an account? 
            <a href="login_user">Login</a>
        </p>

    </form>
</body>
</html>
