{% load static %}
<link rel="stylesheet" href="{% static 'stylehome.css' %}">
<body>
    <a class='button login-button' href='welcome_editor'>Editor Home</a>
    <form class='form' method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class=form-item>
            <label for="{{ form.title.id_for_label }}">Title:</label>
            {{ form.title }}
        </div>
        <div class=form-item>
            <label for="{{ form.description.id_for_label }}">Description:</label>
            {{ form.description }}
        </div>
        <div class=form-item>
            <label for="{{ form.video_file.id_for_label }}">Video File:</label>
            {{ form.video_file }}
        </div>
        <div class=form-item>
            <label for="{{ form.is_public.id_for_label }}">Public(Yes/No):</label>
            {{ form.is_public }}
        </div>
        <div class=form-item>
            <label for="{{ notif_form.recipient.id_for_label }}">Send to:</label>
            {{ notif_form.recipient }}
        </div>
        <div class=form-item>
            <label for="{{ notif_form.message.id_for_label }}">Notification Message:</label>
            {{ notif_form.message }}
        </div>

        <button class='button login-button' type="submit">Upload</button>
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    </form>
    
</body>