{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload Video</title>
    <link rel="stylesheet" href="{% static 'stylelogin.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    
  <style>
    
  </style>

</head>
<body>
    
  <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
  </div>
  <a href='welcome_editor'>
    <button style="float:right; width:150px; margin-right:10px; background-color:#008CBA; color:white;">Editor Home</button>
  </a>
  <a href='video_list_editor'>
    <button style="float:right; width:150px; margin-right:10px; background-color:#008CBA; color:white;">Video List</button>
  </a>
  <form method='POST' enctype="multipart/form-data" >
        {% csrf_token %}
        <h3>Upload Video</h3>

        <label for="title">Title</label>
        {{ form.title }}

        <label for="description">Description</label>
        {{ form.description }}

        <label for="video_file">Video file</label>
        <div>
          <input type='file' name='video_file' required id='id_video_file'  required> <!--accept="video/*"-->
        </div>

        <label for="is_public">Public (Yes/No)</label>
        {{form.is_public}}

        <label for="receiver">Send to</label>
        <div class="notif-form-recipient">
          {{ form.receiver }}
        </div>

      <button type="submit">Upload</button>

      <div >
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
      </div>
  </form>
</body>
</html>
