{% load static %}
<link rel="stylesheet" href="{% static 'stylehome.css' %}">

<body>
    <a class='button logout-button' href='logout' style="float:right;">Logout</a>
    <a class='button login-button' href='welcome_creator' style="float:right;">Creator Home</a>

        <br>
    <ol style='color:white;  margin-top:10px'>
        {% for video in videos %}
            <li style="border-bottom:1px solid white;">
                <br>
                <video width="40%" height="40%" controls style="margin-left:10px;">
                    <source src="{{ video.video_file.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <h3 class='list-item'>Title: {{ video.title }}</h3>
                <p class='list-item'>Description: {{ video.description }}</p>
                {% if video.is_public %}
                    <p class='list-item'>Permission: Public</p>
                {% else %}
                    <p class='list-item'>Permission: Private</p>
                {% endif %}
                <form method="post" action="{% url 'approve_video' video.id %}" class="inline-form">
                    {% csrf_token %}
                    <button type="submit" class='button login-button'>Approve</button>
                </form>

                <form method="post" action="{% url 'delete_video_creator' video.id %}" class="inline-form">
                    {% csrf_token %}
                    <button type="submit" class='button logout-button'>Delete</button>
                </form>
            </li>
            <br>
        {% empty %}
            <p>No videos uploaded.</p>
        {% endfor %}
    </ol>


</body>

