{% load static %}
<link rel="stylesheet" href="{% static 'stylehome.css' %}">

<ol>
    {% for video in videos %}
        <li>
            <h3 class='list-item'>{{ video.title }}</h3>
            <p class='list-item'>{{ video.description }}</p>
            <video controls>
                <source src="{{ video.video_file.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            {% if video.is_public %}
                <p class='list-item'>Permission: Public</p>
            {% else %}
                <p class='list-item'>Permission: Private</p>
            {% endif %}

            <form method="post" action="{% url 'delete_video' video.id %}">
                {% csrf_token %}
                <button type="submit" class='button login-button'>Delete</button>
            </form>
        </li>
</ol>

    {% empty %}
        <p>No videos uploaded.</p>
    {% endfor %}

<a class='button login-button' href='upload_video'>Upload Video</a>

<a class='button logout-button' href='logout'>Logout</a>

